.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    text-align: center;
    width: 50%;
}

h1{
    margin: 20px 0;
    font-weight: 900;
}